body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #e0f7fa, #80deea);
  height: 100vh;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
